.banner{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Yogyakarta_Indonesia_Tugu-Yogyakarta-02.jpg/2560px-Yogyakarta_Indonesia_Tugu-Yogyakarta-02.jpg) 
    no-repeat center center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 100px;
    color: white;
}

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  .ling{
    padding-bottom: 100px;
    text-align: left;
}
.deskrip{
    text-align: left;
    padding-bottom: 90px;
    padding-top: 10px;
}
.logo{
  padding-bottom: 55px;
  text-align: left;
}
.media{
    padding-bottom: 55px;
    text-align: left;
}
.bawah{
    align-items: center;
}
.kata{
    padding-right: 110px;
}